//$logotextcolor:#0208f6;
//$logotextfirstlettercolor:#fc0303;
$topheaderbg:#001949;
$logotextcolor:#cbb500;
$logotextfirstlettercolor:#009f3c;
$color-menu:#5A8DEE;
$color-menuhover:#174cb0;
$welcome-title:#0b037e;
$welcome-border:#BC2D2B;
$footer-top:#5A8DEE;
$footer-bottom:#0b2d6d;
$footer-title:#dae711;
$subpage-titlebg:#e9e9e9;
$subpage-titletextcolor:#000;