/* Start Header */
header {
    .top-header{
        background-color: $topheaderbg;
        padding: 0.5rem 0;
        h5{
            margin-bottom: 0;
            font-size: 1rem;
            color: #fff;
            span{                
                margin-right: 1rem;
            }
            i{
                margin-right: 0.5rem;
            }
            a{
                color: #9ec1e8;
            }
        }
        ul{
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: flex-end;
            align-items: center;
            li{
                color: #fff;
                &:first-child{
                    margin-right: 0.5rem;
                }
                &:last-child{
                    margin-left: 0.5rem;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #c1fcff;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    padding: 5px 0;
    .site-logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h4 {
            font-family: "Russo One", sans-serif;
            color: $logotextcolor;
            margin-left: 2rem;
            font-size: 2rem;
            span {
                display: inline-block;
            }
            span::first-letter {
                color: $logotextfirstlettercolor;
            }
        }
    }
    .header-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                margin-left: 0.8rem;
                .header-icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    i {
                        font-size: 1.2rem;
                    }
                }
                .phone-color {
                    background-color: rgba(255, 91, 92, 0.17);
                    color: #ff5b5c;
                }
                .whatsapp-color {
                    background-color: rgba(151, 163, 157, 0.17);
                    color: #188f54;
                }
                .web-color {
                    background-color: rgba(0, 207, 221, 0.17);
                    color: #00cfdd;
                }
                div{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
/* End Header */

/* Start Responsive */
@media (min-width:320px) and (max-width:575px){
    header{
        .top-header{
            h5{
                font-size: 0.9rem;
            }
            ul{
                margin-top: 0.5rem;
                li{
                    font-size: 1rem;
                    a{
                        width: 24px;
                        height: 24px
                    }
                }
            }
        }
        .site-logo{
            img{
                max-height: 65px;
            }
            h4{
                margin-left: 1rem;
                margin-bottom: 0;
            }
        }
        .header-list{
            ul{
                li{
                    .header-icon{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}
@media (min-width:576px) and (max-width:767px){
    header{
        .top-header{
            ul{
                justify-content: flex-start;
                margin-top: 0.5rem;
            }
        }
        .site-logo{
            justify-content: center;
            img{
                max-height: 65px;
            }
            h4{
                margin-left: 1rem;
                margin-bottom: 0;
            }
        }
        .header-list{
            ul{
                li{
                    margin-left: 0.4rem;
                    .header-icon{
                        width: 23px;
                        height: 23px;
                        i{
                            font-size: 1rem;
                        }
                    }
                    h5{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    header{
        .top-header{
            ul{
               li{
                   a{
                    width: 28px;
                    height: 28px;
                    margin-right: 0.3rem;
                   }
                
               }
            }
        }
        .site-logo{
            justify-content: center;
            img{
                max-height: 65px;
            }
            h4{
                margin-left: 0;
            }
        }
    }
    .mobile-nav-toggle i {
        margin: 16px 2px 0 0 !important;
    }
}
@media (min-width:992px) and (max-width:1199px){
    header{
        .site-logo{
            img{
                max-height: 65px;
            }
        }
        .header-list{
            li{
                margin-left: 0.2rem !important;
                .header-icon{
                    width: 28px;
                    height: 28px;
                }
                h5{
                    font-size: 1rem;
                }
            }
        }
    }
}
/* End Responsive */