.welcome-secion {
    padding: 3rem 0;
    h2 {
        font-family: "Akaya Telivigala", cursive;
        text-align: center;
        font-size: 3rem;
        color: $welcome-title;
        margin-bottom: 2rem;
    
    }
    h2::after {
        content: "";
        display: block; 
        margin: 0 auto;
        width: 100px;
        padding-top: 5px; 
        border-bottom: 2px solid $welcome-border;
    }
    p {
        line-height: 30px;
        letter-spacing: 0.5px;
    }
}
@media (min-width:320px) and (max-width:575px){
    .welcome-secion {
        padding: 2rem 1rem;
        h2{
            font-size: 1.8rem;
        }
    }
}