/* ========================= Start Sub page styles ============================== */
.page-header-title {
    background-color: $subpage-titlebg;
    color: $subpage-titletextcolor;
    h2 {
        font-size: 1.4rem;
        margin: 0;
        padding: 10px 0;
        font-weight: bold;
    }
}
.page-content {
    min-height: 33vh;
    padding: 2rem 15px;
    h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #1a0c91;
        margin-bottom: 1rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 26px;
        letter-spacing: 0.5px;
    }
    .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            line-height: 32px;
            i {
                margin-right: 15px;
            }
        }
    }
    .service-sections {
        background-color: #fafafa;
        padding: 1rem;
        border: 1px solid #ececec;
        box-shadow: 0 0 1px RGB(0 0 0/18%), 0 2px 4px RGB(0 0 0/12%);
        margin-bottom: 1rem;
        .services-thumbnail {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            max-width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

//BEGIN: Contact Us
.contact-social-list {
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
    li:not(:last-child) {
        font-size: 1.2rem;
        color: #1650be;
        font-weight: bold;
    }
    li {
        a {
            display: flex;
            width: 32px;
            height: 32px;
            border-radius: 100vmax;
            justify-content: center;
            align-items: center;
            background-color: #0b2d6d;
            color: #fff;
            transition: all 0.2s ease-in-out;
            transform: translateY(0);
            &:hover {
                transform: translateY(-.15rem);
            }
        }
    }
}
//END: Contact Us
//BEGIN: Terms and Condition
.termcondition-list{
    li{
        margin-bottom: 0.5rem;
        letter-spacing: 0.5px;
    }
}
//END: Terms and Condition
/* ========================= End Sub page styles ============================== */
